.dragger-box {
  padding: 18px 0;
  text-align: center;
  .img {
    display: inline-block;
    width: 32px;
  }
  .t-1 {
    margin-top: 8px;
    margin-bottom: 4px;
    color: #333;
    font-size: 16px;
  }
  .t-2 {
    color: #999;
    font-size: 12px;
  }
}
