.edit-table {
  /deep/.editable-cell {
    position: relative;
  }

  /deep/.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
  }

  /deep/.editable-row:hover .editable-cell-value-wrap {
    min-height: 22px;
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }

  /deep/[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
  }
}
